<html>
<head>
	<link type="text/css" rel="stylesheet" href="css/main.css" />
	<style>
		.inactive {
		  text-decoration: line-through;
		}
		.location .delete {
			visibility: hidden;
		}
		.hoverState .location .delete {
			visibility: visible;
		}
	</style>
	<script src="js/lib/lab.js"></script>
	<script>
		$LAB
		.script('js/lib/jquery-1.6.min.js').wait()
		.script('js/lib/spine.min.js').wait()				// depends on jquery
		.script('js/lib/jquery.tmpl.min.js')
		.script('js/lib/spine.model.local.js')
		.script('js/lib/modernizr-1.7.min.js')
		.script('js/models/location.js')
		.script('js/controllers/locationController.js')
		.script('js/controllers/locationListController.js')
		.script('js/controllers/mapController.js')
		.script('http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0')
		.script('http://ecn.dev.virtualearth.net/mapcontrol/v7.0/js/bin/7.0.20110224212311.97/en-us/veapicore.js')   // must be async loaded by bing maps, not loading explicitly causes new Map() to fail
		//.script('http://ecn.dev.virtualearth.net/mapcontrol/v7.0/js/bin/7.0.20110224212311.97/en-us/veapidelay.js')  // automatically loaded by bing maps
		.script('js/app.js')
		.wait(function() {
			$(function() {
				app.init();
			});
		});
	</script>
	
	<script type="text/x-jquery-tmpl" id="locationTemplate">
		<div class="location">
		{{if lat }}
			<div class="{{if !active}}inactive{{/if}}">
				<p>${address}, ${city}, ${state}, ${zip} (${lat}, ${lon})</p>
			</div>
		{{else}}
			<div class="{{if !active}}inactive{{/if}}">
				<p>${raw}</p>
			</div>	
			{{/if}}
			<a href="#" class="delete">delete</a>
		</div>
	</script>
</head>
<body>
<div id="map">

</div>
<div id="leftbar">
	<div id="locations">
		<form>
			<input type="text" class="locationsInput" placeholder="Address or GPS coords"></input>
		</form>
		<div class="locationList">
		
		</div>
	</div>
</div>
</body>
</html>